@import url(default.css); /* default.css 불러오기 */

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(../fonts/Pretendard-ExtraBold.woff) format('woff');
}
html, body {
    /* font-family 사용하는 서체명은 font-face에서 사용한 이름으로 사용, sans-serif는 고딕체라는 의미 */
    font-family: "Pretendard", sans-serif;
    font-size: 15px; /* 글자 크기 */
    color: #3d3d3d; /* 글자 색상 */
    font-weight: 400; /* 글자두께 */
    line-height: 1.4; /* 행간 */
    letter-spacing: -0.02em; /* 자간 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
}
#wrap { /* 홈페이지를 전체를 감싸는 요소*/ 
    min-width:  1260px;

}
.wrapper { /* 홈페이지 넓이를 제한하고 가운데 정렬 */
    width: 1260px;
    margin: 0 auto;
}
.notice h1 {
    font-weight:  800;
    color: #1d1d1d;
    font-size: 50px;
    margin: 114px 0 22px 0;
}
.notice ul {
    display: flex;
    justify-content:  space-between;
}
.notice ul li {
    width:  404px;
    height: 307px;
    background-color: #f4f4f4;
}
.notice ul li a {
    height: 307px;
    display:  block;
}